<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://556557558.xyz:888/d/阿里小/软件/IOS/酷我音乐.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.kuwo.kwmusic.kwmusicForKwsing</string>
                <key>bundle-version</key>
                <string>9.7.4</string>
                <key>kind</key>
                <string>software</string>
                <key>releaseNotes</key>
                <string>ttest</string>
                <key>title</key>
                <string>酷我音乐974</string>
            </dict>
        </dict>
    </array></dict></plist>